//colors

$darkBlue: rgb(15, 46, 92);
$lighterGrey: lightgray;
$darkGrey: rgb(135, 130, 130);
$lightBlue: rgb(115, 200, 233);

//breakpoints

$breakpoints: (
  "small": 350px,
  "medium": 1024px,
  "large": 1300px,
);
