@use "../../Sass/Variables" as *;
@use "sass:map";

.button {
  height: 2.5rem;
  width: 90%;

  &Icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}

@media screen and (min-width: map.get($breakpoints, "medium")) {
  .button {
    width: 55%;
  }
}

@media screen and (min-width: map.get($breakpoints, "large")) {
  .button {
    width: 100%;
  }
}
